@charset "utf-8";
* {
  margin: 0px;
}
body {
  font-family: "Paytone One";
}
header {
  text-align: center;
  background-color: black;
  color: white;
  padding: 40px;
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
  color: rgb(0, 140, 255);
}
a:hover {
  text-decoration: underline;
  color: aqua;
}
a {
  color: white;
  text-decoration: none;
}
footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
article {
  padding: 20px;
}
h1 {
  margin-bottom: 20px;
  font-family: "Paytone One", sans-serif;
  font-weight: none;
  font-size: 10vh;
  text-shadow: 1px 1px 1px black;
}
h2 {
  font-size: 55px;
  padding: 10px;
}
section {
  padding: 20px;
  font-family: "Recursivo";
  font-size: x-large;
}
