@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Paytone+One&family=Recursive:wght@300..1000&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Paytone One";
}
header {
  text-align: center;
  background-color: black;
  color: white;
  padding: 40px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
h1 {
  margin-bottom: 20px;
  font-variant: small-caps;
  font-family: "Paytone One", sans-serif;
  font-weight: none;
  font-size: 9vw;
  text-shadow: 1px 1px 1px black;
}
h2 {
  font-variant: small-caps;
  font-size: 55px;
  padding: 10px;
}
section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 30px;
  line-height: 2em;
  font-family: "Recursivo";
  font-size: x-large;
}
section.normal {
  background-color: rgb(255, 255, 255);
}
section.imagem {
  background-color: rgb(82, 80, 80);
  background-attachment: fixed;
  background-size: cover;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.336);
  padding: 30px;
}
section.imagem > p {
  background-color: rgba(138, 133, 133, 0.507);
  display: inline-block;
  padding: 5px;
  border-radius: 3%;
}
section > p {
  font-family: "Sriracha";
}
section#img01 {
  background-image: url(imagens/wallpaper001.jpg);
  padding: 2vw;
}
section#img02 {
  background-image: url(imagens/wallpaper002.jpg);
  background-position: right center;
  padding: 5vw;
  margin-left: -3.1vw;
}
