@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-image: linear-gradient(135deg, #ffe998, #57370d);
  height: 100vh;
}
h1 {
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 20px;
  color: #fcf1cc;
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.452);
}

.login {
}

form {
  text-align: center;
  padding: 200px;
}
#enviar {
  padding: 4px;
  border-radius: 7px;
  margin-top: 10px;
  background-color: rgb(6, 245, 233);
}

#enviar:hover {
  background-color: rgb(224, 221, 37);
}

main {
  background-color: rgba(255, 255, 255, 0.671);

  border-radius: 10px 10px;
}
