@charset "UTF-8";

/*TODAS AS DEMAIS MIDIAS*/

@media screen and (min-width: 768px) and (max-width: 1200px) {
  /*TABLET*/
  body,
  html {
    background: url(../imagens/back-tablet.jpg) no-repeat;
  }
  img#telefone {
    display: none;
  }
  img#tablet {
    display: block;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: none;
  }
  img#print {
    display: none;
  }
}

@media print {
  /*IMPRESSORA*/

  * {
    font-family: "Courier New", Courier, monospace;
    padding: 0px;
    margin: 0px;
  }
  body {
    border: 2px solid black;
  }
  main {
    width: 100vw;
    padding: 100px;
  }
  main::after {
    content: "Essa impressao foi feita atraves do www.meusite.com.br";
    text-decoration: overline;
  }
  main h1 {
    color: black;
    text-shadow: none;
  }
  img#telefone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: none;
  }
  img#print {
    display: block;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  /*PC*/
  body,
  html {
    background: url(../imagens/back-pc.jpg) no-repeat;
    background-size: cover;
  }
  img#telefone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#pc {
    display: block;
  }
  img#tv {
    display: none;
  }
  img#print {
    display: none;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  /*Telas grandes*/
  body,
  html {
    background: url(../imagens/back-tv.jpg) no-repeat;
    background-size: cover;
  }
  img#telefone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: block;
  }
  img#print {
    display: none;
  }
}
